extends layout

block layout-content
  div.View.UserView
    h1.Banner Oops!
    div.Message
      div.Title
        h1 Error Information

      h6 Sorry, that endpoint is not available for this provider!

