extends layout

block layout-content
  div.View
    h1.Banner Finch Sandbox API Example
    div.Message
      div.Title
          h3 Use username <strong>largeco</strong> and password <strong>letmein</strong>
            div.NavButtons
              div.NavButton 
                a(href=`https://connect.tryfinch.com/authorize?&client_id=${client_id}&products=company directory individual employment payment pay_statement&redirect_uri=http://localhost:8000/&sandbox=true`) Finch Connect