extends layout

block layout-content
  div.container
    div.d-none.d-sm-none.d-md-block 
      br
      br
    div.login-card.d-flex.rounded-lg.overflow-hidden.bg-white
      div.login-message.d-none.d-sm-none.d-md-flex.flex-column.justify-content-center.p-5
        img(src='/welcome.svg', class="img-fluid mb-3")
        h2 Galactic Benefits*
        p *Powered by Finch
      div.login-body
        div.login-body-wrapper.mx-auto
          h4.text-center.text-uppercase.mb-3.text-primary Save time and automatically import data from your current payroll provider.
          p.text-center.mb-3 We'll automatically transfer the following data: 
          ul
            li Most company details 
            li Your bank details 
            li All employee information 
            li Payroll 
            li Benefits 
          p.text-center.mb-3 Would you like to import your data?
            br
            br
            a(class="text-center btn btn-primary" href=`https://connect.tryfinch.com/authorize?&client_id=${client_id}&products=company directory individual employment &redirect_uri=${redirect_uri}&sandbox=true`) Yes, import my data
            br
            br
            a(class="text-center btn btn-warning") No, thanks! I'll do it manually.